{% extends "base.html" %}

{% block page_title %}
    Search
{% endblock page_title %}

{% block search-bar %}
{% endblock search-bar %}

{% block content %}

    <h2>Search!</h2>

    <form method="get" action="{% url "rooms:search" %}">
        <div>
            <lable for="city">City</lable>
            <input value="{{city}}" id="city" name="city" placeholder="Search by City" />
        </div>
        <div>
            <lable for="country">Country</lable>
            <select id="country" name="country">
                {% for country in countries %}
                    <option value="{{country.code}}" 
                    {% if country.code == s_country %}
                        selected
                    {% endif %}>{{country.name}}</option>
                {% endfor%}
            </select>
        </div>
        <div>
            <lable for="room_type">Room Type</lable>
            <select id="room_type" name="room_type">
                <option 
                    value="0" 
                    {% if s_room_type == 0 %}
                        selected
                    {% endif %}>Any kind</option>
                {% for room_type in room_types %}
                    <option 
                        value="{{room_type.pk}}" 
                        {% if room_type.pk == s_room_type %}
                            selected
                        {% endif %}>{{room_type.name}}</option>
                {% endfor%}
            </select>
        </div>
        <div>
            <lable for="price">Price</lable>
            <input value="{{price}}" type="number" name="price" id="price" placeholder="Price" />
        </div>
        <div>
            <lable for="guests">Guests</lable>
            <input value="{{guests}}" type="number" name="guests" id="guests" placeholder="Guests" />
        </div>
        <div>
            <lable for="bedrooms">Bedrooms</lable>
            <input value="{{bedrooms}}" type="number" name="bedrooms" id="bedrooms" placeholder="Bedrooms" />
        </div>
        <div>
            <lable for="beds">Beds</lable>
            <input value="{{beds}}" type="number" name="beds" id="beds" placeholder="Beds" />
        </div>
        <div>
            <lable for="baths">Baths</lable>
            <input value="{{baths}}" type="number" name="baths" id="baths" placeholder="Baths" />
        </div>
        <div>
            <lable for="instant">Instant Book Only?</lable>
            <input type="checkbox" name="instant" id="instant" {% if instant %}checked{% endif %} />
        </div>
        <div>
            <lable for="superhost">By Superhost Only?</lable>
            <input type="checkbox" name="superhost" id="superhost" {% if superhost %}checked{% endif %} />
        </div>
        <div>
            <h3>Amenities</h3>
            <ul>
                {% for amenity in amenities %}
                    <li>
                        <lable for="a_{{amenity.pk}}">{{amenity.name}}</lable>
                        <input 
                            id="a_{{amenity.pk}}"
                            name="amenities"
                            type="checkbox" 
                            value={{amenity.pk}} 
                            {% if amenity.pk|slugify in s_amenities %}
                                checked
                            {% endif %}
                        />
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div>
            <h3>Facilities</h3>
            <ul>
                {% for facility in facilities %}
                    <li>
                        <lable for="f_{{facility.pk}}">{{facility.name}}</lable>
                        <input 
                            id="f_{{facility.pk}}" 
                            name="facilities"
                            type="checkbox" 
                            value={{facility.pk}}
                            {% if facility.pk|slugify in s_facilities %}
                                checked
                            {% endif %}
                        />
                    </li>
                {% endfor %}
            </ul>
        </div>
        <button>Search</button>
    </form>

    <h3>Results</h3>
    
    {% for room in rooms  %}
        <h3>{{room.name}}</h3>
    {% endfor %}
        

{% endblock content %}