{% extends "base.html" %}

{% block page_title %}
    {{user_obj.first_name}}'s Profile
{% endblock page_title %}


{% block content %}

    <style>
    .avatar {
        width:65px;
        height: 65px;
        color:white;
        background-color: gray;
        border-radius: 50%;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-size: 25px;
    }
    </style>
    <div>    
        <div class="avatar">
            {% if user_obj.avatar %}
                <img src="{{user_obj.avatar.url}}" />
            {% else %}
                <span>{{user_obj.first_name|first}}</span>
            {% endif %}
        </div>
                    
        <h2>

            {{user_obj.first_name}}
            
            {% if user_obj.superhost %}
                (superhost)
            {% endif %}
                
        </h2>
        <p>{{user_obj.bio}}</p>
        
        {% if user == user_obj %}
            <a href="{% url "users:update" %}">Edit Profile</a>
        {% endif %}
    </div>
    
    {% if user_obj.rooms.count > 0 %}
        <div>
            <h3>{{user_obj.first_name}}'s Rooms</h3>
            <ul>
                {% for room in user_obj.rooms.all %}
                <li>{{room.name}}</li>
                {% endfor %}
            </ul> 
        </div>
    {% endif %}
    
{% endblock content %}